<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="serverless_fileshare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="serverless_fileshare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <serverless_fileshare.Properties.Settings>
            <setting name="MaxIncomingConnections" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SaveDestination" serializeAs="String">
                <value>C:\TestLoc</value>
            </setting>
        </serverless_fileshare.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <serverless_fileshare.Properties.Settings>
            <setting name="PortChangeInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="PacketDataSize" serializeAs="String">
                <value>524288</value>
            </setting>
        </serverless_fileshare.Properties.Settings>
    </applicationSettings>
</configuration>